

<!-- <section class="app-content-wrapper">
    <app-header class="hms-header"></app-header>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <app-footer class="hms-footer"></app-footer>
</section> -->

<section class="flex-grow content-wrapper">
    <app-header></app-header>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-12 position-relative">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>

<app-footer class="mt-auto"></app-footer>
